/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  color: #121212;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: inherit;
}

p {
  font-weight: normal;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  line-height: 1.4;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: bottom;
}

.l-header {
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  overflow-y: auto;
}

.l-wrapper {
  margin-left: 300px;
}

.c-title--border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 30px;
}
.c-title--border::before, .c-title--border::after {
  content: "";
  border-top: 1px solid;
  width: 28%;
}
@media screen and (min-width: 960px) {
  .c-title--border {
    font-size: 2.8rem;
    margin-bottom: 60px;
  }
}

.c-title--bold {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 0 5px;
  text-align: center;
}

.c-title--underline {
  border-bottom: solid 1px #121212;
  font-size: 2rem;
  padding-bottom: 8px;
  margin-bottom: 10px;
  position: relative;
}

.c-figure--square--Photo {
  border: 1px #FFF solid;
  width: 100%;
  position: relative;
}
.c-figure--square--Photo a {
  display: block;
}
.c-figure--square--Photo a::after {
  content: "";
  position: absolute;
  box-shadow: 0 -30px 15px -1px #2e2e2e inset;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.c-figure--square--Photo img {
  max-width: 100%;
  vertical-align: bottom;
}
.c-figure--square--Photo p {
  position: absolute;
  color: #FFF;
  font-size: 0.75rem;
  bottom: 4px;
  left: 7px;
  z-index: 10;
}
@media screen and (min-width: 960px) {
  .c-figure--square--Photo {
    width: 47%;
  }
}

.c-figure--circle {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.c-figure--arrow {
  width: calc(100vw - 80px);
  height: 80px;
  line-height: 80px;
  background-color: #414141;
  color: #FFF;
  font-size: 1.4rem;
  margin: 0 auto 60px auto;
  position: relative;
  text-align: center;
}
.c-figure--arrow::after {
  content: "";
  border-top: 30px solid #414141;
  border-left: calc(50vw - 40px) solid transparent;
  border-right: calc(50vw - 40px) solid transparent;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
}
@media screen and (min-width: 960px) {
  .c-figure--arrow {
    width: 200px;
  }
  .c-figure--arrow::after {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }
}

.c-figure--square {
  display: block;
  width: 30%;
  font-size: 1.4rem;
  border: solid 1px #121212;
  position: relative;
  padding: 50px 0;
  text-align: center;
  transition: 0.1s;
}
.c-figure--square img {
  margin: 0 auto;
}
.c-figure--square::after {
  content: "";
  border-top: 20px solid transparent;
  border-right: 20px solid #121212;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.c-inner {
  max-width: 900px;
  padding: 80px 20px;
  margin: 0 auto;
}

.p-headercontents {
  padding: 40px 50px 30px 45px;
}
.p-headercontents h1 {
  width: 200px;
  margin-bottom: 30px;
}
.p-headercontents li {
  font-size: 1.4rem;
  padding: 8px 0;
}

ul.p-headercontents--nav {
  margin-bottom: 60px;
}

.p-video {
  width: 100%;
  height: 100vh;
}
.p-video video {
  position: fixed;
  top: -220px;
  z-index: -10;
}

.p-example {
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

ul.p-example__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
ul.p-example__list li {
  width: 47%;
  margin-bottom: 50px;
}

.p-feature {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding-bottom: 80px;
}
.p-feature p {
  text-align: center;
}

ul.p-feature__list {
  display: flex;
  justify-content: space-between;
}
ul.p-feature__list li {
  width: 30%;
}

.p-feature--circle {
  border: 1px solid #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
}
.p-feature--circle::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0.3;
  transition: 0.5s;
}
.p-feature--circle:hover::before {
  left: 0;
}
.p-feature--circle::after {
  display: block;
  content: "";
  padding-top: 100%;
}

.p-flow {
  background: #fff;
  padding-bottom: 80px;
}

.p-flow--step {
  display: flex;
  margin-top: 60px;
}
.p-flow--step ol {
  position: relative;
}
.p-flow--step ol::before {
  content: "";
  width: 50px;
  height: 600px;
  background-color: #fd0;
  position: absolute;
  top: 0;
  left: 75px;
}
.p-flow--step dl {
  margin-left: 10%;
  position: relative;
}
.p-flow--step dl dd {
  margin-bottom: 43px;
}

.p-flow--order {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.6rem;
  background-color: #414141;
  color: #fff;
  position: absolute;
  left: -45px;
}

.p-contact {
  background: #fff;
  padding-bottom: 80px;
}

.p-contact--link {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.p-footercontents {
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
  font-size: 1.4rem;
}

ul.p-footercontents__nav {
  display: flex;
  justify-content: center;
  margin: 30px 0 60px 0;
}
ul.p-footercontents__nav li {
  padding: 0 20px;
  border-right: 1px solid #fff;
}
ul.p-footercontents__nav li:last-child {
  border: none;
}

.p-footercontents__copyright {
  font-size: 1.2rem;
  display: block;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */