/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  color: #121212;
}

a {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  color: inherit;
}

p {
  font-weight: normal;
}

ul,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

body {
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

img {
  border-style: none;
  max-width: 100%;
  vertical-align: bottom;
}

.l-header {
  position: fixed;
  height: 72px;
  width: 100%;
  top: 0;
  margin: 0;
  z-index: 10;
}
@media screen and (min-width: 960px) {
  .l-header {
    width: 300px;
    height: 100%;
    overflow-y: auto;
  }
}

.l-wrapper {
  margin: 0;
}
@media screen and (min-width: 960px) {
  .l-wrapper {
    margin-left: 300px;
  }
}

.c-title--border {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
  margin-bottom: 30px;
}
.c-title--border::before, .c-title--border::after {
  content: "";
  border-top: 1px solid;
  width: 28%;
}
@media screen and (min-width: 960px) {
  .c-title--border {
    font-size: 2.8rem;
    margin-bottom: 60px;
  }
}

.c-title--bold {
  font-weight: bold;
  font-size: 1.6rem;
  margin: 0 0 5px;
  text-align: center;
}

.c-title--underline {
  border-bottom: solid 1px #121212;
  font-size: 2rem;
  padding-bottom: 8px;
  margin-bottom: 10px;
  position: relative;
}

.c-figure--square--Photo {
  border: 1px #FFF solid;
  width: 100%;
  position: relative;
}
.c-figure--square--Photo a {
  display: block;
}
.c-figure--square--Photo a::after {
  content: "";
  position: absolute;
  box-shadow: 0 -30px 15px -1px #2e2e2e inset;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.c-figure--square--Photo img {
  max-width: 100%;
  vertical-align: bottom;
}
.c-figure--square--Photo p {
  position: absolute;
  color: #FFF;
  font-size: 0.75rem;
  bottom: 4px;
  left: 7px;
  z-index: 10;
}
@media screen and (min-width: 960px) {
  .c-figure--square--Photo {
    width: 47%;
  }
}

.c-figure--circle {
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}

.c-figure--arrow {
  width: calc(100vw - 80px);
  height: 80px;
  line-height: 80px;
  background-color: #414141;
  color: #FFF;
  font-size: 1.4rem;
  margin: 0 auto 60px auto;
  position: relative;
  text-align: center;
}
.c-figure--arrow::after {
  content: "";
  border-top: 30px solid #414141;
  border-left: calc(50vw - 40px) solid transparent;
  border-right: calc(50vw - 40px) solid transparent;
  position: absolute;
  top: 80px;
  right: 0;
  left: 0;
  width: 0;
  height: 0;
}
@media screen and (min-width: 960px) {
  .c-figure--arrow {
    width: 200px;
  }
  .c-figure--arrow::after {
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
  }
}

.c-figure--square {
  display: block;
  font-size: 1.4rem;
  border: solid 1px #121212;
  position: relative;
  text-align: center;
  transition: 0.1s;
  padding: 50px 0;
}
.c-figure--square:hover {
  outline: solid 3px #121212;
}
.c-figure--square img {
  margin-bottom: 5px;
}
.c-figure--square p {
  margin: 0;
}
.c-figure--square::after {
  content: "";
  border-top: 20px solid transparent;
  border-right: 20px solid #121212;
  position: absolute;
  right: 4px;
  bottom: 4px;
}

.c-inner {
  padding: 60px 20px;
  max-width: 900px;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  .c-inner {
    padding: 80px 20px;
  }
}

.p-headercontents {
  padding: 0;
  background-color: #fff;
  height: 72px;
}
@media screen and (min-width: 960px) {
  .p-headercontents {
    padding: 40px 50px 30px 45px;
  }
}
.p-headercontents h1.p-headercontents__sitetitle {
  width: 180px;
  margin-bottom: 0;
  position: relative;
  left: 18px;
  top: 10px;
}
@media screen and (min-width: 960px) {
  .p-headercontents h1.p-headercontents__sitetitle {
    width: 200px;
    margin-bottom: 30px;
  }
}
.p-headercontents li {
  font-size: 1.4rem;
  padding: 8px 0;
}

.p-headercontents__list {
  display: block;
  position: fixed;
  width: 300px;
  padding: 25px;
  background: #fff;
  top: 0;
  left: -300px;
  bottom: 0;
  overflow-y: auto;
  z-index: 20;
}
.p-headercontents__list.is-open {
  left: 0;
  transition: 0.5s;
}
@media screen and (min-width: 960px) {
  .p-headercontents__list {
    left: 0;
  }
}

ul.p-headercontents--nav {
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) {
  ul.p-headercontents--nav {
    margin-bottom: 60px;
  }
}

button.p-hamburger {
  display: block;
  border: none;
  width: 30px;
  height: 30px;
  position: fixed;
  top: 12px;
  right: 18px;
  cursor: pointer;
  z-index: 30;
}
button.p-hamburger::before, button.p-hamburger::after {
  content: "";
  width: 30px;
  height: 2px;
  background: #121212;
  border-radius: 4px;
  position: absolute;
  left: calc(50% - 30px/2);
  display: block;
  transition: transform 0.5s;
}
button.p-hamburger::before {
  top: 14px;
}
button.p-hamburger::after {
  top: 34px;
}
button.p-hamburger > span {
  width: 30px;
  height: 2px;
  font-size: 0px;
  background: #121212;
  border-radius: 4px;
  background-size: auto 2px;
  position: absolute;
  left: calc(50% - 30px/2);
  top: 24px;
  transition: transform 0.5s;
}
button.p-hamburger.is-open {
  color: #fff;
}
button.p-hamburger.is-open::before {
  transform: rotate(45deg);
  top: 24px;
  background-color: #fff;
}
button.p-hamburger.is-open::after {
  transform: rotate(-45deg);
  top: 24px;
  background-color: #fff;
}
button.p-hamburger.is-open > span {
  background: none;
}
button.p-hamburger body.is-open {
  position: fixed;
}
@media screen and (min-width: 960px) {
  button.p-hamburger {
    display: none;
  }
}

.p-hamburger__overlaymask {
  display: none;
}
.p-hamburger__overlaymask.is-open {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.p-video {
  width: 100%;
  height: 80vh;
}
@media screen and (min-width: 960px) {
  .p-video {
    height: 100vh;
  }
}
.p-video video {
  height: 520px;
  top: 72px;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: fixed;
}
@media screen and (min-width: 960px) {
  .p-video video {
    top: -40px;
    z-index: -10;
    left: 300px;
  }
}

.p-example {
  color: #fff;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
}

ul.p-example__list {
  display: flex;
  flex-direction: column;
}
ul.p-example__list li {
  width: 100%;
  margin-bottom: 30px;
}
@media screen and (min-width: 960px) {
  ul.p-example__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  ul.p-example__list li {
    width: 47%;
    margin-bottom: 50px;
  }
}

.p-feature {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  padding-bottom: 80px;
}
.p-feature p {
  text-align: center;
}

ul.p-feature__list {
  display: flex;
  justify-content: space-between;
}
ul.p-feature__list li {
  width: 30%;
}

a.p-feature--circle {
  border: 1px solid #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 15px;
  position: relative;
  overflow: hidden;
}
a.p-feature--circle::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  opacity: 0.3;
  transition: 0.5s;
}
a.p-feature--circle::after {
  content: "";
  display: block;
  padding-top: 100%;
}
a.p-feature--circle:hover::before {
  left: 0;
}

.p-flow {
  background: #fff;
}

.p-flow--step {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}
@media screen and (min-width: 960px) {
  .p-flow--step {
    flex-direction: row;
  }
}

ol.p-flow--step__figure {
  position: relative;
  margin-bottom: 80px;
}
ol.p-flow--step__figure::before {
  content: "";
  width: 50px;
  height: 600px;
  background-color: #fd0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
@media screen and (min-width: 960px) {
  ol.p-flow--step__figure {
    margin-bottom: 0;
  }
  ol.p-flow--step__figure::before {
    left: 75px;
  }
}

dl.p-flow--step__discription {
  margin-left: 10%;
  position: relative;
}
dl.p-flow--step__discription dd {
  margin-bottom: 43px;
}

.p-flow--order {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.6rem;
  background-color: #414141;
  color: #fff;
  position: absolute;
  left: -45px;
}

.p-contact {
  background: #fff;
  padding-bottom: 80px;
}

.p-contact--link {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}
@media screen and (min-width: 960px) {
  .p-contact--link {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 60px;
  }
}
.p-contact--link a {
  width: 60%;
  margin: 20px 0 0 0;
}
.p-contact--link a:first-child {
  margin-top: 0;
}
@media screen and (min-width: 960px) {
  .p-contact--link a {
    width: 30%;
    margin: 0;
  }
}

.p-footercontents {
  background-color: #121212;
  color: #fff;
  padding: 20px 0;
  font-size: 1.4rem;
}

a.p-footercontents__pagetop {
  display: block;
  background-color: #121212;
  border: solid 1px #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: fixed;
  right: 25px;
  bottom: 25px;
}
a.p-footercontents__pagetop::after {
  content: "";
  border-bottom: 7px solid #fff;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: relative;
  left: 17px;
}

ul.p-footercontents__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 0 60px 0;
}
ul.p-footercontents__nav li {
  padding: 0 20px;
  border-right: 1px solid #fff;
}
ul.p-footercontents__nav li:last-child {
  border: none;
}

.p-footercontents__copyright {
  font-size: 1.2rem;
  display: block;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */