//ベースの背景飾
.c-color--base {
    background-color: #FFFDFA;
}

//サイドバーの背景色
.c-color--subbase {
    background-color: #F2EDE9;
}

//ヘッダーの背景色
.c-color--main {
    background-color: #FFF7EF;
}

//フッターの背景色
.c-color--submain {
    background-color: #9D8670;
}

//.mediaの背景色
.c-color--accent {
    background-color: #3C2B1C;
}

//白フォント
.c-fontcolor--white {
    color: #FFF;
}

//グレーフォントーサイト名、menuに使用
.c-fontcolor--gray {
    color: #707070;
}

//茶色フォントー小見出し、本文に使用
.c-fontcolor--brown {
    color: #3C2A10;
}