@use "../../foundation/mixin"as m;
@use "../../foundation/variables"as v;

.p-card__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    @include m.mq(tab) {
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        margin-top: 40px;
    }

    @include m.mq(pc) {
        margin-top: 120px;
    }
}

.p-card01,
.p-card02 {
    position: relative;
    width: 89vw;
    height: 642px;
    padding: 10px;

    @include m.mq(tab) {
        width: 43vw;
        height: 681px;
        padding: 12px;
    }

    @include m.mq(pc) {
        width: 33vw;
        height: 1193px;
        padding: 20px;
    }

    h3 {
        position: absolute;
        font-size: 4.1rem;
        //height: 60px;

        @include m.mq(tab) {
            font-size: 4.4rem;
            //height: 67px;
        }

        @include m.mq(pc) {
            font-size: 8rem;
            //height: 118px;
        }
    }

    ul {
        position: absolute;
        bottom: 11px;

        @include m.mq(pc) {
            bottom: 20px;
        }

        li {
            background-color: rgba(#fff, .8);
            color: v.$brown-color;
            width: 84vw;
            height: auto;
            min-height: 162px;
            margin-top: 10px;
            padding: 19px 10px;

            @include m.mq(tab) {
                width: 40vw;
                height: auto;
                min-height: 172px;
            }

            @include m.mq(pc) {
                width: 30vw;
                height: auto;
                min-height: 174px;
                margin-top: 20px;
                padding: 17px 19px;
            }

            h4 {
                font-size: 2.2rem;
                font-weight: 700;

                @include m.mq(tab) {
                    font-size: 2.4rem;
                }
            }

            //h4

            p {
                font-size: 1.6rem;

                @include m.mq(pc) {
                    font-size: 1.4rem;
                }
            }
        }
    }
}

.p-card01 {
    margin-bottom: 20px;
    background: url(../../../images/card_01.jpg) center center /cover no-repeat;

    @include m.mq(tab) {
        margin-bottom: 0;
    }
}

.p-card02 {
    background: url(../../../images/card_02.jpg) center center /cover no-repeat;
}