.p-flow {
    background: #fff;
    padding-bottom: 80px;
}

.p-flow--step {
    display: flex;
    margin-top: 60px;

    ol {
        position: relative;

        &::before {
            content: "";
            width: 50px;
            height: 600px;
            background-color: #fd0;
            position: absolute;
            top: 0;
            left: 75px;
        }
    }

    //ol
    dl {
        margin-left: 10%;
        position: relative;

        dd {
            margin-bottom: 43px;
        }
    }
}

.p-flow--order {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1.6rem;
    background-color: #414141;
    color: #fff;
    position: absolute;
    left: -45px;
}