@use "../../foundation/mixin"as m;

.p-flow {
    position: relative;
    background: #fff;
}


.p-flow--step {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    @include m.mq(pc) {
        flex-direction: row;
        margin-top: 60px;
    }
}

ol.p-flow--step__figure {
    position: relative;
    margin-bottom: 80px;

    li {
        margin-bottom: 60px;

        &:last-child {
            margin-bottom: 0;
        }

    }

    &::before {
        content: "";
        width: 50px;
        height: 600px;
        background-color: #fd0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: 0 auto;

    }

    @include m.mq(pc) {
        margin-bottom: 0;
    }
}

dl.p-flow--step__discription {
    margin-left: 50px;
    position: relative;

    @include m.mq(pc) {
        margin-left: 10%;
    }

    dd {
        margin-bottom: 43px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.p-flow--order {
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 1.6rem;
    background-color: #414141;
    color: #fff;
    position: absolute;
    left: -45px;
}