.p-footercontents {
    background-color: #121212;
    color: #fff;
    padding: 20px 0;
    font-size: 1.4rem;
}

ul.p-footercontents__nav {
    display: flex;
    justify-content: center;
    margin: 30px 0 60px 0;

    li {
        padding: 0 20px;
        border-right: 1px solid #fff;

        &:last-child {
            border: none;
        }
    }
}

.p-footercontents__copyright {
    font-size: 1.2rem;
    display: block;
    text-align: center;
}