.p-headercontents {
    padding: 40px 50px 30px 45px;

    h1 {
        width: 200px;
        margin-bottom: 30px;
    }

    li {
        font-size: 1.4rem;
        padding: 8px 0;
    }
}

ul.p-headercontents--nav {
    margin-bottom: 60px;
}